html, body{
	width: 100%;
	height: 100%;
	min-height: 500px;
	min-width: 600px;

	padding: 0;
	margin: 0;
	background-color: #a88;
	position: relative;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

embed{
	width: 30px;
	height: 30px;
	pointer-events: none;
}

#body{
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#loading{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #faa;

	color: black;

	z-index: 9;
}
#toast-contain{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	pointer-events: none; /* 不阻挡所有点击事件 */
}
#toast{
	height: 30px;
	min-width: 60px;
	background-color: #511;
	border-radius: 25px;
	color: white;
	padding: 5px 30px;
}

#part-panel {
	width: 30%;
	height: calc(100% - 150px);
	background-color: #fa7;
	flex-shrink: 0;

	position: relative;	
	display: flex;
	flex-direction: column;
}
	#add-chord-table{
		display: none;
		width: 100%;
		margin: 0;
		padding: 0;

		background-color: #aaf;
		position: absolute;
		left: 0;
		top: 0;

		z-index: 1;
	}
	.slider-block{
		padding: 10px 20px;

		display: flex;
		flex-direction: column;
	}

#part-chord-table{
	width: 40%;
	height: calc(100% - 150px);
	background-color: #f77;
	flex-shrink: 0;

	display: flex;
	flex-wrap: wrap;

}

	#chord-table{
		width: 100%;
		height: calc(100% - 80px);
		min-height: 70px;
		background-color: #faa;
		margin: 0;
		padding: 0;
		overflow-y: scroll;
	}

		.chord-group{
			width: calc(100% - 30px);
			height: 20px;
			background-color: #2f6;
			margin: 5px;
			float:left; /* 往左浮动，能让列表横排 */

			overflow: hidden;
			position: relative;
			padding: 5px 10px;
		}
		.chord-block{
			min-width: 30px;
			height: 40px;
			background-color: #afa;
			margin: 5px;
			float:left; /* 往左浮动，能让列表横排 */

			overflow: hidden;
			position: relative;
			padding: 5px 10px;
		}
		.chord-block-ghost{
			opacity: 0;
		}
		.chord-block-progress-bar{
			position: absolute; 
			bottom: 0;
			width: 100%;
			height: 5px;
			background-color: white;
		}
	#mark{
		width: 100%;
		height: 80px;
		background-color: #55a;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		#mark-zone{
			position: absolute;
			
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

#part-chord-pic{
	width: 30%;
	height: calc(100% - 150px);
	background-color: #44f;
	flex-shrink: 0;
	overflow: hidden;
}
	#chord-pic{
		width: 60%;
		height: auto;
		background-color: white;
	}

#part-music{
	width: 100%;
	height: 150px;

	display: flex;
	flex-direction: column;

	position: relative;
}
	#music-hint-cover{
		position: absolute;
		height: 100%;
		width: 100%;
		color: white;
		font-size: 20px;
		background-color: rgba(100, 100, 100, 0.8);
		z-index: 1;

		transition: background-color 0.3s
	}
	#music-hint-cover:hover{
		background-color: rgba(150, 150, 150, 0.8);
	}
	#music-control{
		width: 100%;
		height: 60px;

		display: flex;
		position: relative;

		background-color: #6a3;
	}
		#music-name{
			width: 30%;
			height: 100%;
			position: absolute;
			left: 10px;
			
			line-height: 50px;
			align-items: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}


		#music-button-zone{
			width: 100%;
			height: 100%;
			overflow: hidden;
			position: absolute;
		}
			.music-button{
				width: 30px;
				height: 30px;
				margin: 0 10px;
			}
			.music-button-seperater{
				width: 3px;
				height: 40px;
				background-color: white;
				margin: 0px 5px;
			}
			#slider-music-volume{
				margin: 0;
				width: 80px;
			}

	#music-slider-zone{
		height: 100px;
		margin: 0 20px;

		background-color: #d5a;
		position: relative;

		display: flex;
		flex-wrap: nowrap;
	}
		.music-slider-blank{
			pointer-events: none;
			position: relative;
			background-color: transparent;
			width: 100px;
			height: 100%;
			flex-shrink: 0;
		}
		#music-slider-zone-scale{
			position:relative;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			flex-shrink: 0;
			
		}
			#music-mark-table{
				pointer-events: none;
				width: 100%;
				height: 100%;
				position: absolute;
			}
				.music-mark{
					width: auto;
					height: 20px;
					position: absolute;
					border-radius: 10px;

					background-color: black;
					color: white;
					font-size: 8px;
					padding: 0 5px;

					pointer-events: all; /* 父物体取消了，但可以单独设置子物体！*/
				}
					.music-mark-pin{
						pointer-events: none;
						width: 2px;
						height: 50px;
						position: absolute;
						left: calc(50% - 1px);
						top: 20px;
						background-color: blue;
						opacity: 0.3;
					}
				#mark-context{
					position: absolute;
					width: 120px;
					z-index: 8;
					font-size: 14px;
					opacity: 0.5;
				}
					#mark-context-div{
						width: 100%;
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;
						background-color: #62d51a;
						border-radius: 20px;
						overflow: hidden;
					}

						#mark-context-title{
							width: 80%;
							height: 30px;
							color: white;
							font-weight: bold;
							margin: 5px 0;
						}
						#mark-context-sperator{
							background-color: white;
							width: 80%;
							margin: 0 10%;
							height: 2px;
							border-radius: 2px;
						}
						#mark-context-name{
							width: 80%;
							height: 40px;
							font-size: 20px;
							font-style: italic;
							margin: 5px 0;
						}
						#mark-context-locate{
							width: 80%;
							height: 30px;
							border-radius: 10px;
							background-color: #9f9;
							transition: background-color 0.3s;
							margin: 5px 0;
						}
						#mark-context-locate:hover{
							background-color: white;
						}
						#mark-context-delete{
							width: 80%;
							height: 30px;
							border-radius: 10px;
							background-color: red;
							transition: background-color 0.3s;
							margin: 5px 0;
						}
						#mark-context-delete:hover{
							background-color: white;
						}
				

			#music-waveform{
				pointer-events: none;
				position: absolute;
				width: 100%;
				height: 100%;
			}
			
			#slider-tick-progress{
				position: relative;
				height: 28px;
				margin: 0 5px;
			}
			.slider-padding{
				position: relative;
				width: 100px;
				height: 100%;
				background-color: #16c;
			}





.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.full{
	width: 100%;
	height: 100%;
}

.hide{
	display: none;
}

.ef-plus{
	position: absolute;
    width: 20px;
    height: 20px;
    z-index: 5;
    font-size: 18px;
}

.music-button{

}

/* 默认滑动条样式 */
.slider-default {
	-webkit-appearance: none; /* 移除默认样式 */
    width: 100%;
    
    height: 8px;
    margin: 10px 0;
    border-radius: 4px;
}
.slider-default:focus { /* 获取焦点后 */
    outline: none;
}
.slider-default::-webkit-slider-runnable-track { /* 轨道的样式 */

}
.slider-default::-webkit-slider-thumb { /* 滑块的样式 */
    -webkit-appearance: none; /* 移除默认样式 */
    background-color: #aaa;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    cursor: pointer;
}

.slider-default::-webkit-slider-thumb:hover {
    background: #666;
}

/* 播放进度条样式 */
#slider-music {
	position: relative;

	-webkit-appearance: none; /* 移除默认样式 */
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: transparent;
}
#slider-music:focus { /* 获取焦点后 */
    outline: none;
}
#slider-music::-webkit-slider-thumb { /* 滑块的样式 */
    -webkit-appearance: none; /* 移除默认样式 */
    background-color: white;
    width: 2px;
    height: 70px;
    border-radius: 0;
    opacity: 0.5;
}